/*

COLORS:
#f3f3f3
#9b59b6
#1abc9c
#f1c40f
 */

h1, h2, h3, h4, div, ul, li {
  margin: 0;
  padding: 0;

}

/* Box-sizing border-box */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* CONTAINER*/
.container {
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
}

.content-header,
.sidebar-header {
  display: flex;
  background-color: #272B33;
  margin-left: 50px;
  height: 78px;
  justify-content: center;
  align-items: center;
}

.sidebar-header {
  margin-left: 0px;
}

.content-header h1,
.sidebar-header h1 {
  text-align: center;
  color: #f9f9f9;
  margin: 0;
}

.content-header h1 span {
  font-size: 0.5em;
}

/* SIDEBAR */
.sidebar {
  position: absolute;
  width: 260px;
  height: 100vh;
  background: #FEFEFDc;
}

.sidebar-content {
  height: calc(100vh - 78px);
  overflow-y: scroll;
  background: #FBFBFB;
}

.sidebar-content h3 {
  color: #505050;
  font-size: 16px;
  margin: 0;
}

.sidebar-content ul {
  padding: 0;
}

.sidebar-content li {
  list-style: none;
  border-bottom: 1px solid #D3D0C9;
  padding: 16px 0 10px 16px;
}

.sidebar-content li:hover {
  background: #F9F7F1;
}
.sidebar-content li:active {
  background: #F4F2EC;
  border-bottom: 1px solid #E0DDD6;
}

/* CONTENT */
.content {
  flex: 1;
  width: 100vw;
  height: 100vh;
  background: #fff;
  transform: translate3d(0,0,0);
  transition: transform .4s;
}

.content .map {
  margin-left: 50px;
  min-height: calc(100% - 78px);
}

.content.is-open {
  transform: translate3d(260px, 0, 0);
}

.content__hamburger-area {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 50px;
  min-height: 100vh;
  background: #f3f3f3;
}

/************ HAMBURGER BUTTON ***********/
#content__hamburger-button {
  width: 32px;
  height: 22px;
  /*position: relative;*/
  margin: 28px auto;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
}

#content__hamburger-button span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: #1abc9c;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .4s ease-in-out;
}

#content__hamburger-button span:nth-child(1) {
  top: 0px;
  transform-origin: left center;
}

#content__hamburger-button span:nth-child(2) {
  top: 9px;
  transform-origin: left center;
}

#content__hamburger-button span:nth-child(3) {
  top: 18px;
  transform-origin: left center;
}

#content__hamburger-button.open span:nth-child(1) {
  transform: rotate(45deg);
  top: -3px;
  left: 5px;
}

#content__hamburger-button.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#content__hamburger-button.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 20px;
  left: 5px;
}
